.about {
  background-color: rgb(204, 204, 204);
  .text {
    color: black;
  }
  width: 125px;
  height: 55px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-width: 0px;
}
.about:hover {
  background-color: rgb(204, 204, 204);
}

.home,
.contact,
.projects {
  background-color: black;
  width: 125px;
  height: 55px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-width: 0px;
}
