.contact {
  background-color: black;
  .text {
    color: aliceblue;
  }
  width: 125px;
  height: 58px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-width: 0px;
}
.contact:hover {
  background-color: black;
}

.about,
.home,
.projects {
  background-color: rgb(204, 204, 204);
  width: 125px;
  height: 58px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-width: 0px;
}

#title {
  text-align: center;
  color: aliceblue;
  top: 0;
  padding-left: 20px;
  padding-top: 0;
}

#content1,
#content2 {
  padding-left: 50px;
  padding-right: 50px;
  height: 400px;
}
