.home {
  background-color: black;
  .text {
    color: aliceblue;
  }
  width: 125px;
  height: 58px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-width: 0px;
}
.home:hover {
  background-color: black;
}

.about,
.contact,
.projects {
  background-color: rgb(204, 204, 204);
  width: 125px;
  height: 58px;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  border-width: 0px;
}

.dots {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

.desc {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
}

.name {
  font-size: 4.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
